<h1>Classifieds</h1>


<section class="col-md-8">
  <% @classifieds.each do |classified| %>
    <article class="well well-lg">
      <h2><%= classified.title %></h2>

      <p><%= classified.description %></p>

      <div><%= "$#{classified.price}" %></div>
      <div><%= classified.category.name %></div>
      <img src='<%= classified.image.url %>'>
    </article>
  <% end %>
</section>

<section class="col-md-4">
  <article class="panel panel-primary">
    <div class="panel panel-heading">
      Categories
    </div>
    <ul class="panel panel-body categories">
      <% @categories.each do |category| %>
        <li><h3><%= category.name %></h3></li>
      <% end %>
    </ul>
  </article>
</section>
